{% set install_jmeter = salt['grains.filter_by']({
    'Debian': {
        'prereq_packages': ['default-jdk']
    },
    'RedHat': {
        'prereq_packages': ['java-1.8.0-openjdk-devel']
    },    
    'common': {
        'jmeter_source_url':  "http://muug.ca/mirror/apache-dist//jmeter/binaries/apache-jmeter-4.0.tgz",
        'install_dir': "/opt/",
        'mysql_jdbc_plugin_url': "https://nova-qc.dair-atir.canarie.ca:8080/v1/AUTH_20e720ec077e4a1ea6e2a9c7e7200b10/binaries/mysql-connector-java-8.0.11.tar.gz"
    }

}, grain='os_family', merge=salt['pillar.get']('jmeter:install:lookup'), default='Debian', base='common')%}

{% set exec_jmeter = salt['grains.filter_by']({
    'Debian': {
    },
    'RedHat': {
    },    
    'common': {
        'cmd_cli_args': '-n ',
        'out_dir' : '/tmp/outputdata/jmeter',
        'jmx_template_file': 'simpletest.jmx.tmpl',
        'num_loops': 1,
        'num_threads': 1,
        'db_host': 'dbhost.example.com',
        'db_port': 3306,
        'db_name': 'employees',
        'db_password': 'password',
        'db_username': 'root'
    }

}, grain='os_family', merge=salt['pillar.get']('jmeter:execute:lookup'), default='Debian', base='common')%}

